@import '../bower_components/bootstrap-sass/lib/bootstrap';
@import '../bower_components/font-awesome/scss/font-awesome';
@import 'conference_colors';

$pageheader-default-bg: rgba($r-value, $g-value, $b-value, 0.80);
$semitransparentbg: rgba($r-value, $g-value, $b-value, 1.0);
$darkbg: #444;
$lightbg: #ccc;

html {
  /* margin-right:10px; */
}

body {
  font-family: 'Open Sans', "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 13px;
  line-height: 22px;
  color: #777;
  bottom: white;
  padding-top: 120px;
  padding-bottom: 40px;
}

.wrapsemibox {
  padding-top: 40px;
}

.row {
  margin-left: 0;
  margin-right: 0;
}

ul,
menu,
dir {
  display: block;
  list-style-type: disc;
  -webkit-padding-start: 0;
  -moz-padding-start: 0;
  -khtml-padding-start: 0px;
  -o-padding-start: 0px;
  padding-start: 0px;
  padding: 0px;
}

a {
  color: $conference-color;
}

a:hover {
  text-decoration: none;
}

::selection {
  background: $conference-color;
  color: #fff;
}

h1, h2, h3, h4, h5, h6, .h1, .h2, .h3, .h4, .h5, .h6 {
  color: #444;
  font-family: Open Sans, "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-weight: 700;
}

strong,
b {
  font-weight: 500;
}

.dark {
  background-color: $darkbg;
  h1, h2, h3 {
    color: #fff;
  }
  p {

  }
}

.light h1, h2, h3 {
  color: $lightbg;
}

/*--------------------------------------------------	HEADER---------------------------------------------------*/
.navbar-toggle {
  background: #333;
}

.nav {
  margin-top: 28px;
  /* this is a faux center fix for the nav options - adjust this if you wish to change the logo height or the font of the menu items */
}

.navbar {
  background-color: #444;
  -webkit-box-shadow: 0 1px 3px rgba(0, 0, 0, .12);
  -moz-box-shadow: 0 1px 3px rgba(0, 0, 0, .12);
  box-shadow: 0 1px 3px rgba(0, 0, 0, .12);
  min-height: 0;
  border-radius: 0;
  border: 0px;
  padding-left: 0px;
  padding-right: 0px;
  padding-top: 20px;
  padding-bottom: 20px;
}

.navbar-brand {
  padding: 0;
}

.nav {
  margin-top: 0;
}

.navbar-fixed-top {
  top: 10px;
}

.navbar-fixed-top:before {
  width: 100%;
  background-color: white;
  height: 20px;
  top: 0px;
  position: fixed;
  margin-top: -10px;
}

.navbar > .container .navbar-brand {
  margin-left: 15px;
}

.navbar-nav > li {
  margin-left: 2px;
}

@media (min-width: 768px) {

  .navbar-nav > li > a {
    margin-top: -26px;
    padding-top: 26px;
    margin-bottom: -20px;
    padding-bottom: 20px;
    line-height: 40px;
  }
}

.navbar-nav > li > a {
  color: #fff;
  border-radius: 0px;
  text-transform: uppercase;
  font-weight: 700;
  /*font-family:Roboto;*/
  font-size: 13px;
  -webkit-transition: all 0.2s ease-in-out;
  -moz-transition: all 0.2s ease-in-out;
  -o-transition: all 0.2s ease-in-out;
  -ms-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
}

.navbar-nav > li.active > a, .navbar-nav > li.active > a:hover, .navbar-nav > li.active > a:focus {
  background-color: $conference-color;
  color: #fff;
  border-radius: 3px 3px 0 0 !Important;
}

.navbar-nav > li.active > a:before, .navbar-nav > li > a:hover:before, .navbar-nav > li > a:focus:before {
  content: "";
  width: 0;
  height: 0;
  border-bottom: 6px solid $conference-color;
  border-right: 6px solid transparent;
  position: absolute;
  top: 0px;
  right: -4px;
  -webkit-transition: all 0.2s ease-in-out;
  -moz-transition: all 0.2s ease-in-out;
  -o-transition: all 0.2s ease-in-out;
  -ms-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
}

.navbar-nav > li > a:hover, .navbar-nav > li > a:focus {
  border-radius: 3px 3px 0 0 !Important;
  background-color: $conference-color;
  color: #fff;
}

/* Responsive Menu */
.tinynav {
  display: none
}

.navbar-brand img, .wowmenu.tiny .navbar-brand img {
  transition: all 0.7s ease;
  -webkit-transition: all 0.7s ease;
  -moz-transition: all 0.7s ease;
  -o-transition: all 0.7s ease;
}

@mixin gr8background() {
  background-size: cover;
  background-image: url("/images/background.png");
  background-position: 0 100px;
  background-attachment: fixed;
}

/*--------------------------------------------------	home-features---------------------------------------------------*/
section.meet-speakers {
  @include gr8background();
}

.meet-speakers h4 {
  font-weight: 300;
  font-size: 17px;

}

.authorImg > img {
  width: 105px;
  border-radius: 50px;
}

.meet-speakers .img {
  background-color: $conference-color;
  display: inline-block;
  text-align: center;
  border-radius: 50%;
  width: 40px;
  height: 40px;
  line-height: 40px;
  margin-right: 5px;
  color: #fff;
}

/*--------------------------------------------------	PAGE HEADER STYLES---------------------------------------------------*/
.page-description {
  color: #fff;
  font-size: 20px;
  line-height: 30px;
  font-weight: 300;
  text-align: center;
  margin: 15px auto 0px;
}

.pageheader-default {
  @include gr8background();

  color: #fff;
  padding-top: 20px;
  padding-bottom: 20px;

  .semitransparentbg {
    background-color: $semitransparentbg;
  }

}

.pageheader-default h1 {
  color: #fff;
  display: inline-block;
  font-weight: 700;

  margin-top: 30px;
  margin-bottom: 0;
  line-height: 0;
  font-size: 35px;
  text-shadow: 0 2px 0 rgba(0, 0, 0, 0.1);
}

.pageheader-default h1.large {
  font-size: 45px;
}

img.technologies {
  width: 80%;
}

section {
  padding-top: 20px;
  #about {
    padding-top: 40px;
  }
}

div.video {
  padding-top: 20px;
}

iframe.youtube {
  height: 480px;
  width: 853px;
}

.speaker {
  img.speakerImg {
    width: 100px;
    margin-right: 10px;
  }

  div.speakerDetail {
    cursor: pointer;
    min-height: 100px;
  }
  .panel {
    background-color: transparent;
    .panel-heading {
      h4 {
        font-weight: bold;
      }
      background-color: rgba($lightbg, 0.3);
    }
    .panel-body {
      background-color: rgba($lightbg, 0.5);
    }
  }
  margin-bottom: 10px;
}

.crew {
  img.crewImg {
    width: 100px;
    margin-right: 10px;
  }

  div.crewDetail {
    cursor: pointer;
    min-height: 100px;
    .employer {
      line-height: 17px;
    }
    .name {
      color: white;
    }
  }
  .panel {
    background-color: transparent;
    .panel-heading {
      background-color: rgba(black, 0.3);
    }

  }
  margin-bottom: 10px;
}

.talk {
  div.talkDetail {
    cursor: pointer;
    min-height: 50px;
    .talkIcons {
      width: 30px;
      float: left;
      .fa-stack {
        width: 1.2em;
        height: 1.2em;
        .fa {
          line-height: normal;
        }
      }
    }
  }
  .panel {
    background-color: transparent;
    .panel-heading {
      background-color: rgba($lightbg, 0.3);
    }
    .panel-body {
      background-color: rgba($lightbg, 0.5);
    }
  }

  margin-bottom: 10px;

}

.dark .panel {
  color: white;
  background-color: transparent;
  .talkDetail h4 {
    color: white;

  }
  .panel-heading {
    background-color: rgba(white, 0.7);
  }
  .panel-body {
    background-color: rgba(128, 128, 128, 1);
  }
}

.blogEntry {
  div.detail {
    cursor: pointer;
    min-height: 50px;
  }
  .panel {
    background-color: transparent;
    .panel-body {
      background-color: rgba(white/2, 1.0);
      .panel-content {
        position: relative;
        max-height: 120px;
        overflow: hidden;
        &::after {
          content: '';
          height: 30px;
          position: absolute;
          bottom: 0;
          left: 0;
          width: 100%;
          text-align: center;
          margin: 0;
          padding: 0px 0;

          /* "transparent" only works here because == rgba(0,0,0,0) */
          background-image: -webkit-linear-gradient(top, transparent, black);
          background-image: -moz-linear-gradient(top, transparent, black);
          background-image: -ms-linear-gradient(top, transparent, black);
          background-image: -o-linear-gradient(top, transparent, black);
          background-image: linear-gradient(to bottom, rgba(white/2, 0.0), rgba(white/2, 1.0));
        }

      }
    }
  }

  margin-bottom: 10px;
}

.modalBlog {
  .modal-dialog {
    width: 90%
  }
}

/*--------------------------------------------------	SPONSORS---------------------------------------------------*/
$max-logo-width: 400px;
$max-logo-height: 150px;

.sponsors {

  p {
    color: #cccccc;
  }
  h1 {
    color: $conference-color;
  }

  .platinum {
    h3 {
      color: #E5E4E2;
    }
    img {
      max-width: $max-logo-width;
      max-height: $max-logo-height;
    }
  }
  .gold {
    h3 {
      color: #FFDF00;
    }
    img {
      max-width: $max-logo-width * 0.75;
      max-height: $max-logo-height * 0.75;
    }
  }

  .silver {
    h3 {
      color: #C0C0C0;
    }
    img {
      max-width: $max-logo-width * 0.5;
      max-height: $max-logo-height * 0.5;
    }
  }
  .hosting {
    img {
      max-width: $max-logo-width * 0.75;
      max-height: $max-logo-height * 0.75;
    }
  }

}

.where-when {
  background-image: url('/images/it-u.png');
  background-position: center top;
  h1 {
    color: $conference-color;
  }
  h3 {
    color: $conference-color;
  }
  p {
    color: #333333;
    .text-muted {
      color: #666666;
    }
  }
  table {
    color: #555555;
  }

}

.smaller {
  font-size: 75%;
}

.navbar-nav > li.active > a,
.navbar-nav > li.active > a:hover,
.navbar-toggle > span,
.navbar-nav > li.active > a:focus {
  background-color: $conference-color;
}

.navbar-nav > li.active > a:before,
.navbar-nav > li > a:hover:before,
.navbar-nav > li > a:focus:before,
.navbar-nav > li > a:hover,
.navbar-nav > li > a:focus {
  background-color: $conference-color;
}

.nav-tabs > .active {
  > a,
  > a:hover {
    color: $conference-color !important;
  }
}

.dropdown-menu > li {
  > a:hover,
  > a:focus {
    background-color: $conference-color !important;
  }
}

.dropdown {
  &.open {
    a {
      background-color: $conference-color !important;
    }
    .dropdown-menu a {
      background-color: white !important;
      &:hover, &:focus {
        background-color: $conference-color !important;
      }
    }
  }
}

.active i.fontawesome-icon {
  background-color: $conference-color;
}

.btn-default {
  background-color: $conference-color;
}

blockquote {
  border-left: 5px solid $conference-color;
}

.pagination > .active {
  > a,
  > span,
  > a:hover,
  > span:hover,
  > a:focus,
  > span:focus {
    background-color: $conference-color;
    border-color: $conference-color;
  }
}

.active-header {
  background-color: $conference-color;
}

.active-header:hover {
  background-color: $conference-color;
}

#filter ul li .selected {
  background-color: $conference-color;
}

.semitransparentbg {
  background-color: $semitransparentbg;
  a {
    color: lightgrey;
    font-weight: bold;
  }
}

.btn-conference {
  color: #ffffff;
  background-color: $semitransparentbg;
  border-color: rgb($r-value - 10, $g-value - 10, $b-value - 10);
}

.text-regular {
  color: #ffffff;
}

.btn-primary:hover, .btn-primary:focus, .btn-primary:active, .btn-primary.active {
  background-color: #777777;
  border-color: #000000;
}

.btn-primary {
  background-color: $conference-color;
  border-color: #000000;
}

.agenda {
  .agenda-title {
    font-size: 20px;
    font-weight: bold;
    max-height: 60px;
  }
  .agenda-room {
    font-size: 18px;
    font-weight: bold;
    color: $conference-color;
    margin-top: 6px;
  }
  .agenda-times {
    position: relative;
    float: left;
    height: 100%;
    div {
      height: 60px;
    }
  }
  .agenda-track {
    position: relative;
    float: left;
    height: 100%;
  }
  //    background-color: #FFFFFF;
  text-align: center;
  line-height: 14px;
  .agendaItem {
    .agendaTimeStart {
      position: absolute;
      top: 3px;
      left: 2px;
    }
    .agendaTimeEnd {
      position: absolute;
      bottom: 3px;
      left: 2px;
    }
    .agendaFavorite {
      position: absolute;
      top: 0px;
      right: 0px;
    }

    .agendaItemInner {
      margin-left: 35px;
      margin-right: 16px;
      a {
        color: #000000;
      }
      .agendaTalk {
        font-weight: bold;
        font-size: 110%;
      }
      .agendaSpeaker {
        color: #444;
        white-space: nowrap;
      }
    }
    border-radius: 2px;
    overflow-y: hidden;
    max-height: 60px;
    color: #000000;
    position: absolute;
    width: 100%;
    border: 1px solid black;
    padding: 3px;
    &.small-row {
      padding: 0px;
      .agendaTimeStart {
        top: 0px;
      }
      .agendaTimeEnd {
        display: none;
      }
      .agendaFavorite {
        top: -2px;
      }
    }
  }
  .breakItem {
    border-radius: 2px;
    max-height: 60px;
    color: white;
    background-color: rgba(black, 0.1);
    position: absolute;
    width: 100%;
    border: 1px solid rgba(black, 0.5);
    padding: 3px;
  }
  .breakIcon {
    border: none;
    max-height: 60px;
    color: white;
    position: absolute;
    width: 100%;
    .fa {
      font-size: 1.5em;
    }
    padding: 3px;
  }

}

@media (max-width: 767px) {
  .pageheader-default h1 {
    font-size: 15px;
  }
  .pageheader-default h1.large {
    font-size: 20px;
  }
  .page-description {
    font-size: 15px;
  }
  iframe.youtube {
    height: 180px;
    width: 300px;
  }
  .agenda-outer {
    width: 100%;
    overflow: auto;
    position: relative;
    .agenda-inner {
      width: 200%;
      position: absolute;

    }
  }
  .logo-nav {
    img {
      width: 60%
    }
  }

  .sponsors {

    .platinum {
      img {
        max-width: $max-logo-width / 2;
        max-height: $max-logo-height / 2;
      }
    }
    .gold {
      img {
        max-width: $max-logo-width * 0.75 / 2;
        max-height: $max-logo-height * 0.75 / 2;
      }
    }

    .silver {
      img {
        max-width: $max-logo-width * 0.5 / 2;
        max-height: $max-logo-height * 0.5 / 2;
      }
    }
    .hosting {
      img {
        max-width: $max-logo-width * 0.75 / 2;
        max-height: $max-logo-height * 0.75 / 2;
      }
    }
  }

}

@media (max-width: 1140px) {
  .semitransparentbg, .dark, .sponsors {
    background-size: contain !important;

  }

}

@media(max-width: 992px) {
  .pageheader-default {
    padding-top: 50px;
    margin-top: auto !important;
  }
}

/* =============================================================== */
/*FONT AWESOME ICONS================================================================ */
.social-icons a {
  display: inline-block;
  width: 32px;
  margin: 0px 10px;
  font-size: 16px;
  color: #999;
  -webkit-transition: all 0.5s ease-in-out;
  -moz-transition: all 0.5s ease-in-out;
  -o-transition: all 0.5s ease-in-out;
  -ms-transition: all 0.5s ease-in-out;
  transition: all 0.5s ease-in-out;
}

@font-face {
  font-family: 'FontAwesome';
  src: url('font-awesome/fontawesome-webfont.eot?v=3.2.1');
  src: url('font-awesome/fontawesome-webfont.eot?#iefix&v=3.2.1') format('embedded-opentype'), url('font-awesome/fontawesome-webfont.woff?v=3.2.1') format('woff'), url('font-awesome/fontawesome-webfont.ttf?v=3.2.1') format('truetype'), url('font-awesome/fontawesome-webfont.svg#fontawesomeregular?v=3.2.1') format('svg');
  font-weight: normal;
  font-style: normal;
}

[class^="icon-"], [class*=" icon-"] {
  font-family: FontAwesome;
  font-weight: normal;
  font-style: normal;
  text-decoration: inherit;
  -webkit-font-smoothing: antialiased;
  *margin-right: .3em;
}

[class^="icon-"]:before, [class*=" icon-"]:before {
  text-decoration: inherit;
  display: inline-block;
  speak: none;
}

a [class^="icon-"], a [class*=" icon-"] {
  display: inline;
}

.pull-right {
  float: right;
}

.pull-left {
  float: left;
}

[class^="icon-"].pull-left, [class*=" icon-"].pull-left {
  margin-right: .3em;
}

[class^="icon-"].pull-right, [class*=" icon-"].pull-right {
  margin-left: .3em;
}

[class^="icon-"], [class*=" icon-"] {
  display: inline;
  width: auto;
  height: auto;
  line-height: normal;
  vertical-align: baseline;
  background-image: none;
  background-position: 0% 0%;
  background-repeat: repeat;
  margin-top: 0;
}

.icon-stack [class^="icon-"], .icon-stack [class*=" icon-"] {
  display: block;
  text-align: center;
  position: absolute;
  width: 100%;
  height: 100%;
  font-size: 1em;
  line-height: inherit;
  *line-height: 2em;
}

.icon-twitter:before {
  content: "\f099";
  color: #55acee;
}

.icon-bitbucket:before {
  content: "\f171";
}

.icon-github-alt:before {
  content: "\f113";
}

.icon-github-sign:before {
  content: "\f092";
}

.icon-github:before {
  content: "\f09b";
}

.icon-google-plus-sign:before {
  content: "\f0d4";
}

.icon-google-plus:before {
  content: "\f0d5";
}

.fontawesome-icon.circle-white {
  color: $conference-color;
}

.pad-top-10 {
  padding-top: 10px;
}

.pad-top-30 {
  padding-top: 30px;
}

.favorite-icon {
  .selected {
    color: #fe7f00;
  }
  .unselected {
    color: rgb(231, 231, 231)
  }
  .disabled {
    color: #4c4c4c;
  }

}

.rating-icon {
  .rated {
    color: #fe7f00;
  }
  .unrated {
    color: rgb(231, 231, 231)
  }
  .disabled {
    color: #4c4c4c;
  }

}

.rating {
  .tooltip {
    width: 450px;
    .tooltip-inner {
      font-size: 120%
    }
  }
}

.modal-header {
  h3 {
    color: $conference-color;
  }
}

@media(max-width: 400px) {
  .modal-header, .modal-content {
    font-size: 80%;
    h3 {
      font-size: 15px;
    }
    h4 {
      font-size: 12px;
    }
    .rating-image {
      width: 80px;
      height: 80px;
    }
  }

  .speaker {
    img.speakerImg {
      width: 60px;
      height: 60px;
      margin-right: 5px;
    }

    div.speakerDetail {
      cursor: pointer;
      min-height: 65px;
    }
    .panel {
      background-color: transparent;
      .panel-heading {
        padding: 1px 5px;
        h4 {
          font-size: 12px;
        }
        .social-icons {
          a {
            font-size: 10px;
          }
        }
      }
      .panel-body {
        padding: 1px 5px;
        background-color: rgba($lightbg, 0.5);
      }
    }
    margin-bottom: 5px;
  }
  .talk {
    div.talkDetail {
      min-height: 30px;
    }
    .panel {
      background-color: transparent;
      .panel-heading {
        padding: 1px 5px;
        h4 {
          font-size: 12px;
        }
      }
      .panel-body {
      }
    }

    margin-bottom: 5px;

  }
  .crew {
    img.crewImg {
      width: 60px;
      margin-right: 3px;
    }
    width: 300px;

    .panel {

      .panel-heading {
        padding: 1px 5px;
        h4 {
          font-size: 12px;
        }
      }

    }
    margin-bottom: 5px;
  }


  h1 {
    font-size: 14px;
  }

}

