<section class="text-center">
	<div class="dark">
		<h1>About</h1>
		<h3>blah blah blan</h3>
		<p class="container page-description">
			It's an affordable conference dedicated to all the technologies in the Groovy ecosystem. <br />
			We cover technologies like Grails,
			Gradle, Spock, GMetrics, GContracts, Griffon and many many more.<br /> <br />
			The conference series were founded in 2009 by Guillaume Laforge and Søren Berg Glasius.<br />
			After the first edition of the conference in Europe, the GR8Conf name was used in the US,<br />
			and the latest upcoming conference is going to be in Australia.
		</p>

	</div>
</section>
