<section id="cfp" class="dark pageheader-default text-center">
		<h1 class="large">Call For Papers</h1>
		<p class="container page-description">
			The call for papers is open until January 31st. We have a separat site running, where you can submit your
            talks.<br/>
            Please go to <a href="http://cfp.gr8conf.org"><strong>cfp.gr8conf.org</strong></a> to submit your talks.<br/>
            To save your precious time, you can submit to both GR8Conf Europe and GR8Conf US in one go!
		</p>
</section>
