<section id='home' class="semitransparentbg pageheader-default text-center">

    <h1>Welcome to </h1><br/>

    <h1 class="large">GR8Conf Europe 2014!</h1>

    <div class="container page-description">
        <div class="row">
            <div class="col-xs-12">
                <p>
                    Groovy, Grails and the related technologies have seen <strong>astounding growth</strong> in
                    interest and adoption the past
                    few years, and with <strong>good reason</strong>. To spread the word even more we have created
                    GR8Conf.
                </p>

                <p>
                    <img class="technologies" src="/images/technologies.png"/>
                </p>
            </div>
            <div class="hidden-xs">
                <p>
                    GR8Conf is an <strong>independent</strong>, affordable series of conferences
                    in Denmark and the US. It's <br/><strong>dedicated</strong> to the
                    technologies in the <strong>Groovy ecosystem</strong>.
                </p>

                <p>
                    We <strong>feed the brains</strong> of attendees with all the <strong>important stuff</strong>
                    from the Groovy and Grails community.
                </p>

                <p>
                    We have <strong>in-depth talks</strong> covering all
                    <strong>major technologies</strong> in the
                    Groovy ecosystem. All talks are performed by the <strong>brightest minds</strong> and
                    <strong>core developers</strong> in their fields.
                </p>
            </div>
            <div class="col-xs-12">

                <p>
                    Some of the technologies covered are Groovy, Grails,
                    Gradle, Spock, GMetrics, GContracts, Griffon and many many more.
                </p>
            </div>
        </div>
    </div>
</section>
