<div class="modal-header">
    <h3>Sponsor GR8Conf</h3>
</div>
<div class="modal-body">
    <h4>Why GR8Conf?</h4>
    <p>
        Groovy, Grails and the related technologies have seen astounding growth in interest and adoption the past
        few years, and with good reason. To spread the word even more we have created GR8Conf.
    </p>

    <h4>What is GR8Conf?</h4>

    <p>
        GR8Conf is an independent, affordable series of conferences in Denmark and the US, dedicated to the
        technologies in the Groovy ecosystem. We feed the brains of attendees with all the important stuff
        from the Groovy and Grails community. We have in-depth talks covering all major technologies in the
        Groovy ecosystem. All talks are performed by the brightest minds and core developers in their fields.
    </p>

    <h4>Who will be at the conference?</h4>

    <p>
        GR8Conf Europe will draw close to 200 of the most dedicated, passionate, and innovative developers in
        the Java and Groovy arena. No other conference is as dedicated to these technologies as GR8Conf.
        This concentration of technical mind-share represents an excellent opportunity for sponsors.</p>

    <p>GR8Conf is looking for sponsors for the upcoming conference.</p>

    <p>
        Becoming a sponsor of GR8Conf Europe will show your commitment and dedication to the innovative
        technologies in the Groovy Ecosystem.</p>

    <p>Please request our sponsor program from <a href="mailto:sponsors@gr8conf.org">sponsors@gr8conf.org</a>.
    </p>
</div>
<div class="modal-footer">
    <button class="btn btn-warning" ng-click="cancel()">Close</button>
</div>