<div class="modal-header">
    <img src="/images/sponsors/nineconsult_282x81.png"/>
</div>
<div class="modal-body">
    <p>
        NineConsult is a Consulting company based in the heart of Copenhagen with ~60 dedicated consultants focusing on
        developing business-critical applications using Groovy and Grails but also classic Java.
    </p>

    <p>
        Our focus is within the Public, Finance and Transportation sector and our project references includes several
        high profile projects within Self Service in the public sector and Mission critical solutions within Finance and
        Transportation.
    </p>

    <p>
        All our consultants are highly skilled and have demonstrated throughout their career that they belong to the
        exclusive group of team members who are critical for a project to succeed. We believe that a combination of
        profound technical knowledge and a good understanding of the customers business is the key to an outstanding
        performance.


    </p>
</div>
<div class="modal-footer">

    <button class="btn btn-info" ng-click="openLink('http://nineconsult.dk')">Visit www.nineconsult.dk</button>
    <button class="btn btn-default" ng-click="cancel()">Close</button>
</div>