<div class="talk col-md-4" id="talk{{talk.id}}">
    <accordion>
        <accordion-group>
            <accordion-heading>
                <div class="talkDetail">
                    <div class="talkIcons">
                        <favorite id="talk.id"></favorite>
                        <gr8rating id="talk.id"></gr8rating>
                    </div>

                    <h4>
                        <strong>{{talk.title}}</strong>
                    </h4>
                </div>
            </accordion-heading>
            <h4>Speakers</h4>

            <div ng-repeat="speaker in talk.speakers">
                <a href="" ng-click="scrollTo('speaker' + speaker.id, 'talk->speaker',speaker.name)">
                    {{speaker.name}}

                </a>
            </div>
            <h4>Description</h4>

            <div ng-bind-html="talk.summary"></div>
        </accordion-group>
    </accordion>
</div>

